*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --navbar-bg: #f0f0f0;
    --background-color: #ffffff;
    --text-color: black;
    --post-bg: #f0f0f0;
    --highlight-bg: #fce0ff;
    --border-color: #ddd;
    --primary-color: #b300ff;
    --primary-hover-color: #8f00b3;
    --secondary-color: #999;
    --secondary-hover-color: #666;
    --danger-color: #d9534f;
    --danger-hover-color: #c9302c;
    --error-color: red;
    --success-color: green;
}

[data-theme='dark'] {
    --navbar-bg: #1e1e1e;
    --background-color: #121212;
    --text-color: white;
    --post-bg: #2e2e2e;
    --highlight-bg: #444444;
    --border-color: #444;
    --primary-color: #b300ff;
    --primary-hover-color: #9500b3;
    --secondary-color: #999;
    --secondary-hover-color: #666;
    --danger-color: #d9534f;
    --danger-hover-color: #c9302c;
    --error-color: red;
    --success-color: green;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
