.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.createPostLink {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.createPostLink:hover {
  background-color: var(--primary-hover-color);
}

.postList {
  list-style: none;
  padding: 0;
}

.postItem {
  display: block;
  text-decoration: none;
  color: inherit;
}

.postList li {
  background-color: var(--post-bg);
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  word-break: break-word;
}

.postList li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postList h2 {
  margin: 0 0 10px;
}

.postList p {
  margin: 0;
  color: var(--text-color);
}

.username {
  color: blueviolet;
}
