.collapsed {
  position: fixed;
  width: 50px;
  height: 100vh;
  background-color: var(--navbar-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 10;
}

.expanded {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: var(--navbar-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: width 0.3s ease;
  top: 0;
  left: 0;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.username {
  margin-bottom: auto;
  cursor: pointer;
  font-size: 30px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.unseenMessages {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.messageItem {
  padding: 5px 10px;
  margin: 5px 0;
  background-color: var(--post-bg);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.messageItem:hover {
  background-color: var(--primary-hover-color);
}

.bottomButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.logoutButton {
  background-color: #d9534f;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
  align-self: center;
}

.logoutButton:hover {
  background-color: #c9302c;
}

.unseenCount {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: var(--primary-color);
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}


.navbar {
  transition: all 0.3s ease;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .collapsed {
    width: 100vw;
    height: 50px;
    bottom: 0;
    top: auto;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .expanded {
    width: 100vw;
    height: 500px;
    bottom: 0;
    top: auto;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
  }

  .content {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }
}
