.collapsed {
    width: 50px;
    height: 100vh;
    background-color: var(--navbar-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease;
    cursor: pointer;
  }
  
  .expanded {
    width: 300px;
    height: 100vh;
    background-color: var(--navbar-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 0.3s ease;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; /* Ensure the content takes full height */
  }
  
  .username {
    margin-bottom: auto;
    cursor: pointer;
    font-size: 30px;
  }
  
  .bottomButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  
  .themeToggle {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .logoutButton {
    background-color: #d9534f;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 4px;
    align-self: center;
  }
  
  .logoutButton:hover {
    background-color: #c9302c;
  }
  