.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 50px; /* Espaço para a navbar colapsada */
  transition: margin-left 0.3s ease; /* Adicione uma transição suave */
}

.mainContent.expanded {
  margin-left: 300px; /* Espaço para a navbar expandida */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.backButton {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.backButton:hover {
  background-color: var(--primary-hover-color);
}

.profileLink {
  color: var(--primary-color);
  text-decoration: none;
}

.profileLink:hover {
  text-decoration: underline;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
}

.navbar li {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.navbar .selected {
  font-weight: bold;
}

.underline {
  height: 2px;
  background: var(--primary-color);
  margin-top: 5px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  background-color: var(--post-bg);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.section li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.likeButton {
  background: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.likeButton.liked {
  background-color: var(--primary-color);
  color: white;
}

.responseCount {
  font-size: 1rem;
  color: var(--text-color);
}

.editButton {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
}

.editButton:hover {
  background-color: var(--primary-hover-color);
}

.profileDetails {
  margin: 20px 0;
  padding: 20px;
  background-color: var(--post-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileDetails p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.profileDetails strong {
  display: inline-block;
  width: 100px;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0px; /* Espaço para a navbar expandida */
  }
  .mainContent.expanded {
    margin-left: 0px; /* Espaço para a navbar expandida */
  }
}